<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css1/signup.css">
</head>
<body>

    <div class="simple-form">
        <div class="heading">
        <h1 > UPLOAD A PROJECT </h1>
        <h3> <a href="/list">View Projects or Edit Projects</a></h3>
        </div>

        <form action="" enctype="multipart/form-data" method="POST">

            <input type="hidden" name="_id" value="<%= data._id %>"><br><br>
            <input type="file" placeholder="Image" name="file" value="<%= data.imagename %>"><br><br>
            <input type="text" placeholder="LINK" name="link" id="button" value="<%= data.link %>"><br><br>
            <input type="text" placeholder="TITLE" name="title" id="button" value="<%= data.title %>"><br><br>
            <input type="text" placeholder="Description" name="description" id="button" value="<%= data.description %>"><br><br>
            <input type="text" placeholder="Github REPOSITORY LINK" id="button" name="githublink" value="<%= data.githublink %>"><br><br>
    
            <button type="submit" id="submit">SUBMIT</button>      
        </form>
    
    
</body>
</html>